html
  head
    base(href='/')
    title
  body(ng-app='tweetMapApp')
    h1 Hola Amigo!!
    div(ng-view='')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/socket.io-client/socket.io.js')
    script(src='bower_components/angular-socket-io/socket.js')
    script(src='app/app.js')
